$font-stack: 'Roboto', sans-serif;
$first-color:#00E6F6;
$second-color:#1F6CAB;
$third-color:#082A3A;
$fourth-color:#FFFFFF;
$error-color:#FF0000;
$error-bgColor:#FFCACA;
$success-color:#4F8A10;
$success-bgColor:#DFF2BF;




@mixin background{
  background-color: $third-color;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    outline: none;
    border: none;
    text-decoration: none;

  }

  ::-webkit-scrollbar {
    display: none;
}

body{

  @include background
}
// NAVIGATION BAR
.navbar__container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: $third-color;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    .navbar__logo{
      a{
        position: relative;
        font-size: 2rem;
        color: $first-color;
        margin: 0 1rem;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $fourth-color;
        }
      }
    }
    .navbar__links{
      a{
        color: $fourth-color;
        margin: 0 1rem;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $first-color;
        }
      }
    }
  }


.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  form{

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    .fields{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 1rem 0;

      h4{
        color: $first-color;
        margin: 1rem 0;
      }

      select{
        width: 30rem;
        height: 3rem;
        margin: 1rem 0;
        padding: 0 1rem;
        border-radius: 5px;
        border: 1px solid $fourth-color;
        background-color: $third-color;
        color: $fourth-color;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:hover{
          border: 1px solid $first-color;
        }

       option{
        background-color: $third-color;
        color: $fourth-color;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: $first-color;
        }
       }
      }

    }
    .button{
      width: 10rem;
      height: 3rem;
      margin: 1rem 0;
      padding: 0 1rem;
      border-radius: 5px;
      border: 1px solid $first-color;
      background-color: $third-color;
      color: $fourth-color;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

        &:hover{
          transition: all 0.3s ease-in-out;

          border: 1px solid $first-color;
          cursor: pointer;
          font-size: .8rem;
          width: 10.2rem;
         height: 3.2rem;

        }

    }

  }

  .result__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 1rem 0;
    height: 90;

    h4{
      color: $first-color;
      margin: 1rem 0;
    }

  h5{
    color: $fourth-color;
    margin: 1rem 0;
    text-decoration: underline;
  }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin: 1rem 0;


      .list__container{
        width: 20rem;
        height: 10rem;
        overflow: auto;
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $fourth-color;
        background-color: $third-color;
        color: $fourth-color;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type="radio"]{
          margin-right: 1rem;

        }
        color: $first-color;

        &:hover{
          border: 1px solid $first-color;
        }
      }
    }


  }

  .error{
    h4{
      transition: all 0.3s ease-in-out;
      color: $error-color;
      margin: 1rem 0;
    }
  }
}

.show__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
  height: auto;



  h4{
    color: $first-color;
    margin: 1rem 0;
    text-align: center;
  }
  .passenger__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;


      &:hover{
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(5px);

    }

    .Information{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: justify;

      h3{
        color: $first-color;
        margin: 1rem 0;
      }
      p{
        color: $fourth-color;
        margin: 0 0 0 3rem;
      }

    }
  }
}


.booking__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
  height: auto;

  

  h4{
    color: $first-color;
    margin: 1rem 0;
    text-align: center;
  }
  .success__booking{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    padding: 2rem;
    border-radius: 2rem;
    width: 30rem;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


    p{
    color: $fourth-color;
    text-align: justify;
    margin: .5rem;
    }
  }
  .passenger__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;

      .passenger__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: auto;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        padding: 2rem;
        margin: 2rem;
        border-radius: 2rem;


    &:hover{
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(5px);
    }


        .fields{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          h4{
            color: $first-color;
            margin: 1rem 0;
          }
          label{
            color: $fourth-color;
          }
          input{
            width: 10rem;
            height: 2rem;
            margin: 1rem 0;
            padding: 1rem;
            font-size: .6rem;
            border-radius: 5px;
            border: 1px solid $fourth-color;
            background-color: $third-color;
            color: $fourth-color;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            text-align: center;
            &:hover{
              border: 1px solid $first-color;
          }
        }
      }
    }
  }

  .button{
    width: 10rem;
    height: 3rem;
    margin: 1rem 0;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid $first-color;
    background-color: $third-color;
    color: $fourth-color;
    font-size: .6rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

      &:hover{
        transition: all 0.3s ease-in-out;

        border: 1px solid $first-color;
        cursor: pointer;
        font-size: .8rem;
        width: 10.2rem;
        height: 3.2rem;

      }

  }
  .back{
    text-align: center;
    color: $first-color;
    font-size: .8rem;

    &:hover{
      color: $first-color;
      text-decoration: underline;
    }
  }
}

