<nav>
    <div class="navbar__container">
        <div class="navbar__logo">
            <%= link_to "Odin Flight Booker",root_path %>
        </div>

        <div class="navbar__links">

        </div>
    </div>
</nav>